<%= flash[:notice] %>

<div class="contact-top">
<div class="container">
    <h2>Contact</h2>    
      <div class="contact">
      <p>
        
      </p>
    <!-- <div class="maps">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1423294537265" width="100%" height="153px" frameborder="0" style="border:0"></iframe> 
      </div>
    </div> -->
          <div class="contact-down">
              <div class="contact-right">
                <div class="col-md-6 contact-left">
                  <h5></h5>
                    <p>
                      If you think I can be helpful for you, I am more than happy to answer your questions or discuss what your company needs.
                    </p>
                        <address>
                          <strong>Gergely Szabo, Web Developer<br>
                          1190 Vienna<br>
                          E-mail: szabogergely07 [at] gmail [dot] com
                        </address>
                </div>
                <%= form_tag("/static_pages/thank_you") do %>
                <div class="col-md-6 contact-info">
                 
                    <%= text_field_tag :name, nil, placeholder: "NAME" %>
                    <!-- <input type="text" name="your name" value="NAME" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'NAME';}"> -->        
                    <%= text_field_tag :email, nil, placeholder: "EMAIL" %>
                    <!-- <input type="text" name="your email" value="EMAIL" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'EMAIL';}"> -->
                    <%= text_area_tag :message, nil, placeholder: "MESSAGE", cols: "70", rows: "5" %>
                    <!-- <textarea cols="70" rows="5" name="message" onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'MESSAGE';}" >MESSAGE </textarea> -->
                    <div class="clearfix"> </div>
                    <%= submit_tag "SEND", type: "submit" %>
                    <!-- <input type="submit"value="SEND" /> -->
                        
                </div>
                <% end %>
                <div class="clearfix"> </div>
                </div>
      </div>
</div>  
  </div>
</div>