<div class="container head-title img-responsive">
  <h1>NewsBlog Today</h1>
  <h3>Read our newest blogs below</h3>
</div>

<div class="container">
	
	<div class="container">

        <div class="row">
         <% if signed_in? && current_user.admin? %>
          <div class="container">
            <button type="submit" class="btn btn-primary" id="new-article"><%= link_to 'Create New Article', new_article_path %></button>
          </div>
          <% end %>

          <% @articles.take(2).each do |article| %>

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 blog-frame">

                <!-- Blog Post -->
              
                <!-- Title -->
                <h1><%= article.title %></h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">UserName</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= article.date %></p>

                
                <hr>

                <!-- Post Content -->
                <p class="lead"><%= article.body.first(400) %>(...) <%= link_to 'Read more...', article %></p>

                <div class="container">
                    <%= link_to 'Show', article %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>

                <hr>

               

            </div>

            
            <% end %>
          <div class="side">
           <%= render partial: "articles/tag_form", locals: {article:@article} %>
          </div>
        </div>
        <!-- /.row -->
</div>

</div>