<div class="content">
  <div class="container">
   <div class="load_more">  
           <ul id="myList">
              <!-- These are our grid blocks -->
              <li>
            <div class="l_g">
             <% @articles.take(3).each do |article| %> 
              <div class="col-md-3 praesent">
                <div class="l_g_r">
                  <div class="dapibus">
                    <h2><%= article.title %></h2>
                    <p class="adm">Posted by <a href="#">Admin</a>  |  on <%= article.date %></p>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                    <p><%= article.body.first(200) %>(...) 
                    </p>
                    <%= link_to 'Read more...', article, class: "link" %>
                   <br>
                    <% if signed_in? && current_user.admin? %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    
                  </div>
                </div>
              </div>
            <% end %>

            
              <div class="col-md-3 integ">
                <div class="l_g_r">
                  <div class="posts">
                    <h4>Most viewed posts</h4>
                    <h6><a href="#">Aliquam tincidunt mauris</a></h6>
                    <h6><a href="#">Vestibulum auctor lipsum</a></h6>
                    <h6><a href="#">Nunc dignissim risus</a></h6>
                    <h6><a href="#">Cras ornare tristiqu</a></h6>
                  </div>
                  <div class="comments">
                    <h4>Recent Comments</h4>
                    <h6><a href="#">Amada Doe <span>on</span> Hello World!</a></h6>
                    <h6><a href="#">Peter Doe <span>on</span> Photography</a></h6>
                    <h6><a href="#">Steve Roberts <span>on</span> HTML5/CSS3</a></h6>
                    <h6><a href="#">Doe Peter<span>on</span> Photography</a></h6>
                  </div>
                  <div class="archievs">
                    <h4>Archives</h4>
                    <h6><a href="#">October 2013</a></h6>
                    <h6><a href="#">September 2013</a></h6>
                    <h6><a href="#">August 2013</a></h6>
                    <h6><a href="#">July 2013</a></h6>
                  </div>

                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
         
           <!----//--->

           <li>
            <div class="l_g">
             <% @articles[3..5].each do |article| %> 
              <div class="col-md-3 integ">
                <div class="l_g_r">
                  <div class="integer">
                    <h2><%= article.title %></h2>
                    <p class="adm">Posted by <a href="#">Admin</a>  |  on <%= article.date %></p>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                    <p><%= article.body.first(200) %>(...) 
                    </p>
                    <%= link_to 'Read more...', article, class: "link" %>
                    <br>
                    <% if signed_in? && current_user.admin? %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>





              <div class="col-md-3 integ">
                <div class="l_g_r">
                  <div class="categories">
                    <h4>Categories</h4>
                    <ul class="list-unstyled">
                      <li>
                        <% @articles.each do |article| %>
                          <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %>
                        <% end %>

                      </li>
                                
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
         <!----//--->
           <li>
            <div class="l_g">
               <div class="l_g">
             <% @articles[6..-1].each do |article| %> 
              <div class="col-md-4 praesent">
                <div class="l_g_r">
                  <div class="dapibus">
                    <h2><%= article.title %></h2>
                    <p class="adm">Posted by <a href="#">Admin</a>  |  on <%= article.date %></p>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                    <p><%= article.body.first(200) %>(...) 
                    </p>
                    <%= link_to 'Read more...', article, class: "link" %>
                    <br>
                    <% if signed_in? && current_user.admin? %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="col-md-3 integ">
                <div class="l_g_r">
                </div>
              </div>
              <div class="clearfix"></div>
              </div>
            </div>
          </li>

            
          <div class="clearfix"></div>
      
               <!----//---> 
        </ul>
          <div id="loadMore">Load more</div>
          <div id="showLess">Show less</div>

          </div>
  </div>
</div>
<!-- content -->  










