<div class="container">
	<h1>BlogNews Today</h1>
	<h3>Read our newest blogs below</h3>

	<div class="container">

        <div class="row">
          <div class="container">
            <button type="submit" class="btn btn-primary" id="new-article"><%= link_to 'Create New Article', new_article_path %></button>
          </div>

          <% @articles.each do |article| %>

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 blog-frame">

                <!-- Blog Post -->
              
                <!-- Title -->
                <h1><%= article.title %></h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">UserName</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= article.date %></p>

                
                <hr>

                <!-- Post Content -->
                <p class="lead"><%= article.body.first(400) %>(...) <%= link_to 'Read more...', article %></p>

                <div class="container">
                    <%= link_to 'Show', article %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>

                <hr>

               

            </div>

            
            <% end %>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 sidebar">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                   <% @articles.each do |article| %>
                                    <%= raw(article.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %>
                                  <% end %>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
               
                    
                </div>

            </div>
        </div>
        <!-- /.row -->
</div>

</div>