<div class="content">
  <div class="container">
   
           <ul id="myList">
              <!-- These are our grid blocks -->
              <li>
            <div class="l_g">
             <% @articles.each do |article| %> 
              <div class="col-md-3 praesent">
                <div class="l_g_r">
                  <div class="dapibus">
                    <h2><%= article.title %></h2>
                    <p class="adm">Posted by <a href="#">Admin</a>  |  on <%= article.date %></p>
                    <a href=""><img src="" class="img-responsive" alt=""></a>
                    <p><%= article.body.first(200) %>(...) 
                    </p>
                    <%= link_to 'Read more...', article, class: "link" %>
                   <br>
                    <% if signed_in? && current_user.admin? %>
                    <%= link_to 'Edit', edit_article_path(article) %>
                    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    
                  </div>
                </div>
              </div>
           <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
           
