<!DOCTYPE html>
<html>
  <head>
    <title>NewsBlog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- NAVBAR starts -->
  	<div class="navbar navbar-default">
  		<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        		<span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
      		</button>
      <a href="<%= static_pages_index_path %>", class="navbar-brand">NewsBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form class="navbar-form navbar-right" id="navbar-search">
        <div class="input-group">
          <%= form_tag("/articles", method: "get", class: "navbar-form", role: "search") do %>
            <div class="form-group">
              <%= text_field_tag(:q, nil, placeholder: "Search for an Article", class: "form-control") %>
            </div>
            <%= submit_tag("Search", type: "submit", class: "btn btn-default", id: "search-field") %>
          <% end %>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Articles', articles_path %></li>
        
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
