<!DOCTYPE html>
<html>
  <head>
    <title>NewsBlog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="banner">
      <div class="container">
        <div class="header">
          <div class="logo">
            <a href="<%= static_pages_index_path %>"> <%= image_tag("newsblog-logo2.jpg", class: "img-responsive") %> </a>
          </div>
        <div class="header-right">
          <ul>
            <li><a href="#"><i class="fb"> </i></a></li>
            <li><a href="#"><i class="twt"> </i></a></li>
            <li>
              <div class="search2">
                <form>
                  <div class="input-group">
                    <%= form_tag("/articles", method: "get", class: "navbar-form", role: "search") do %>
                    <div class="form-group">
                      <%= text_field_tag(:q, nil, placeholder: "Search for an Article", class: "form-control") %>
                    </div>
                    <%= submit_tag("Search", type: "submit", class: "btn btn-default", id: "search-field") %>
                    <% end %>
                  </div>
                </form>
              </div>
            </li>
        <div class="clearfix"></div>
          </ul>
          
      </div>
        <div class="clearfix"> </div>
    </div>
    <div class="head-nav">
      <span class="menu"> </span>
      <ul class="cl-effect-15">
      <li class="active"><a href="<%= static_pages_index_path %>">HOME</a></li>
        <li><a href="about.html" data-hover="ABOUT">ABOUT</a></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <li><a href="contact.html" data-hover="CONTACT">CONTACT</a></li>
        <li>
          <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path) %>
          <% end %>    
        </li>
        <li>
          <% if signed_in? && current_user.admin? %>
            <%= link_to 'Create New Article', new_article_path %>
          <% end %>
        </li>
          <div class="clearfix"> </div>
      </ul>
    </div>







 <!-- <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p> -->

    <%= yield %>


  <!-- footer -->
  <div class="footer">
    <div class="container">
      <div class="col-md-3 copy">
        <div class="top1">
          <i class="ham"></i>
        </div>
        <div class="top2">
          <h6>© 2017 Gergely Szabo</h6>
          <p>All rights reserved</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 copy">
        <div class="top1">
          <i class="men"></i>
        </div>
        <div class="top2">
          <h6>Template by: </h6>
          <p><a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 copy">
        <div class="top1">
          <i class="app"></i>
        </div>
        <div class="top2">
          <h6>My Portfolio </h6>
          <p><a href="gergely-szabo.bitballoon.com">Have a look!</a></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 copy">
        <div class="top1">
          <i class="lik"></i>
        </div>
        <div class="top2">
          <h6>GitHub </h6>
          <p><a href="https://github.com/szabogergely07"> szabogergely07</a></p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
<!-- footer -->


  </body>
</html>
